{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
<title>Index</title>
{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<div class="container">
  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <form class="" method="POST">
            {% csrf_token %}
             {{ form|crispy }}
              <div class="text-center">
                  <input type="submit" name="" value="Post"class="btn btn-outline-primary">
              </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-8">
        {% for i in data %}
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <img class="img-thumbnail" src="{{i.author.profilemodel.image.url}}">
            </div>
            <div class="col-md-8">
              <small>{{i.date_created}}</small>
              <hr>
              <a href="{% url 'detail_page' i.id %}"><h4>{{i.title}}</h4></a>
              <div class="text-justify">
                <p>{{i.content}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      </div>
    </div>
    </div>

{% endblock %}
