{% extends 'base.html' %}
{% block title %}
<title>Password_Reset</title>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row mt-5">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <div class="card mb-4">
        <div class="card-body">

            <h4 class="text-center">Password reset link in below</h4>
            <p>Hi</p>

  <p>You're receiving this email because you requested a password reset for your user account at {{domain}}/</p>

  <p>Please click the following link to reset your password:</p>

  {{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}

  <p>Thanks</p>
  <p>Todo App Team</p>


        </div>
      </div>
      </div>
    </div>
    </div>

{% endblock %}
