{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
<title>Password_Reset</title>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row mt-5">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <div class="card mb-4">
        <div class="card-body">
          <form  method="POST">
            {% csrf_token %}
            <h4 class="text-center">Reset Password</h4>
            <p>Which Email You Gave When You Were Signup Same Email You Have To Give Here <br>
              Because We Will Send Email For Create New Password
            </p>
              {{form|crispy}}
              <input type="submit" name="" value="ResetPassword"class="btn btn-primary">
          </form>
        </div>
      </div>
      </div>
    </div>
    </div>

{% endblock %}
